
body {
    
    background-color:white;    
}

.header {
  background-color: blue;
  color:black;
  text-align: center;
}

.footer {
  background-color: blue;
  color:black;
  text-align: center;
}

.h1 {
    text-align: center;
    width: 1300px;
    height: 400px;
}